<!DOCTYPE html>
<html lang="en">

<head th:replace="/partial/header :: header"></head>

<body>
<div class="container-scroller">
    <div class="container-fluid page-body-wrapper">
        <div class="row">
            <div class="content-wrapper full-page-wrapper d-flex align-items-center auth login-full-bg">
                <div class="row w-100">
                    <div class="col-lg-4 mx-auto">
                        <div class="auth-form-dark text-left p-5">
                            <h2>Login</h2>
                            <h4 class="font-weight-light"></h4>
                            <form class="pt-5" th:action="@{/login}" method="post">
                                <form>
                                    <div class="form-group">
                                        <label for="username">Username</label>
                                        <input type="text" class="form-control" id="username" placeholder="Username" name="username">
                                        <i class="mdi mdi-account"></i>
                                    </div>
                                    <div class="form-group">
                                        <label for="password">Password</label>
                                        <input type="password" class="form-control" id="password" placeholder="Password" name="password">
                                        <i class="mdi mdi-eye"></i>
                                    </div>
                                    <div class="form-group">
                                        <label for="password" class="form-check-label">
                                            <input type="checkbox" class="form-check-input" name="remember-me" id="remember-me">
                                            <i class="mdi mdi-eye"></i>Remember Me
                                        </label>
                                    </div>
                                    <div class="mt-5">
                                        <button class="btn btn-block btn-success btn-lg font-weight-medium" type="submit">Login</button>
                                    </div>
                                    <div class="mt-3 text-center">
                                        <a href="#" class="auth-link text-white">Forgot password?</a>
                                    </div>
                                </form>

                            </form>
                            <div th:if="${param.error}">
                                <div style="padding: 16px; color: red">
                                    Username atau password salah
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- content-wrapper ends -->
        </div>
        <!-- row ends -->
    </div>
    <!-- page-body-wrapper ends -->
</div>
<!-- container-scroller -->
<!-- plugins:js -->
<script th:src="@{/node_modules/jquery/dist/jquery.min.js}"></script>
<script th:src="@{/node_modules/popper.js/dist/umd/popper.min.js}"></script>
<script th:src="@{/node_modules/bootstrap/dist/js/bootstrap.min.js}"></script>
<!-- endinject -->
<!-- inject:js -->
<script th:src="@{/js/misc.js}"></script>
<!-- Plugin js for this page-->
<script th:src="@{/node_modules/jquery-toast-plugin/dist/jquery.toast.min.js}"></script>
<!-- End plugin js for this page-->
<!-- endinject -->
</body>

</html>
