<!-- partial:partials/_sidebar.html -->
<nav class="sidebar sidebar-offcanvas" id="sidebar" th:fragment="sidebar">
    <ul class="nav">
        <li class="nav-item nav-category">
            <span class="nav-link">MASTER DATA</span>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:href="@{/master-data/employee}">
                <span class="menu-title">Master Data Employee</span>
                <i class="icon-speedometer menu-icon"></i>
            </a>
        </li>
    </ul>
</nav>